/* BuildingList.css */



.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.button {
    margin-bottom: 10px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: rgba(255,255,255,0.3);
}

.table tbody tr:hover {
    background-color: #d0eed2;
}

.button-container {
    display: flex;
    gap: 5px;
}

/* Add more styles as needed */
.reportsTable {
    border:3px solid #2196f3;
    border-radius:  15px;
    border-collapse: separate; 
    width: 100%;
}
.reportsTable >tr {
    width: 100px;
}