.navbar-item img {
    max-height: 2.75rem !important;
}

.navbar{
    background:lightgray;
}
/* i {
    color: white;
}
span {
    color: white;
} */

.font-bold
{
    color: white;
}

.font-medium
{
    color: white;
}

.wizard-icon {
    fill: white;
    
}

.overflow-y-auto{
    color: red;
}

a > div:hover{
    background-color:rgb(25, 81, 114);
}
a:hover > .wizard-hover {
    background-color:rgb(107, 18, 18);
}